//  Align Items Utility




// Options

$iota-utils-align-items                      : true;

$iota-utils-align-items-namespace            : 'ai-' !default;
$iota-utils-align-items-start-name           : 'start' !default;
$iota-utils-align-items-end-name             : 'end' !default;
$iota-utils-align-items-center-name          : 'center' !default;
$iota-utils-align-items-stretch-name         : 'stretch' !default;
$iota-utils-align-items-baseline-name        : 'baseline' !default;

$iota-utils-align-items-res                  : false !default;
$iota-utils-align-items-breakpoints          : $iota-global-breakpoints !default;




// Helper Local Variables

$iota-utils-align-items-var-ai: $iota-global-utilities-namespace + $iota-utils-align-items-namespace;



// Align Items Utilities

.#{$iota-utils-align-items-var-ai + $iota-utils-align-items-start-name} {
  align-items: flex-start !important;
}

.#{$iota-utils-align-items-var-ai + $iota-utils-align-items-end-name} {
  align-items: flex-end !important;
}

.#{$iota-utils-align-items-var-ai + $iota-utils-align-items-center-name} {
  align-items: center !important;
}

.#{$iota-utils-align-items-var-ai + $iota-utils-align-items-stretch-name} {
  align-items: stretch !important;
}

.#{$iota-utils-align-items-var-ai + $iota-utils-align-items-baseline-name} {
  align-items: baseline !important;
}




// Align Items Responsive Utilities

@if $iota-utils-align-items-res {

  @each $breakpoint-name, $breakpoint-size in $iota-utils-align-items-breakpoints {

    @media #{$breakpoint-size} {

      .#{$iota-utils-align-items-var-ai + $iota-utils-align-items-start-name + $iota-global-breakpoint-separator + $breakpoint-name} {
        align-items: flex-start !important;
      }

      .#{$iota-utils-align-items-var-ai + $iota-utils-align-items-end-name + $iota-global-breakpoint-separator + $breakpoint-name} {
        align-items: flex-end !important;
      }

      .#{$iota-utils-align-items-var-ai + $iota-utils-align-items-center-name + $iota-global-breakpoint-separator + $breakpoint-name} {
        align-items: center !important;
      }

      .#{$iota-utils-align-items-var-ai + $iota-utils-align-items-stretch-name + $iota-global-breakpoint-separator + $breakpoint-name} {
        align-items: stretch !important;
      }
      
      .#{$iota-utils-align-items-var-ai + $iota-utils-align-items-baseline-name + $iota-global-breakpoint-separator + $breakpoint-name} {
        align-items: baseline !important;
      }

    }

  }

}

