// List Object




// Options

$iota-objs-list                   : true;

$iota-objs-list-namespace         : 'list' !default;
$iota-objs-list-item-name         : 'item' !default;
$iota-objs-list-block-name        : 'block' !default;
$iota-objs-list-inline-name       : 'inline' !default;
$iota-objs-list-span-name         : 'span' !default;
$iota-objs-list-align-middle-name : 'middle' !default;
$iota-objs-list-align-bottom-name : 'bottom' !default;

$iota-objs-list-gutter-default    : $iota-global-gutter-default !default;
$iota-objs-list-gutter-extra      : () !default;

$iota-objs-list-block             : false !default;
$iota-objs-list-inline            : false !default;
$iota-objs-list-span              : false !default;

$iota-objs-list-aligned           : false !default;




$iota-objs-list-var-list       : $iota-global-objects-namespace + $iota-objs-list-namespace;
$iota-objs-list-var-list-mod   : $iota-objs-list-var-list + '--';
$iota-objs-list-var-list-item  : $iota-objs-list-var-list + '__' + $iota-objs-list-item-name;




.#{$iota-objs-list-var-list} {
  margin:  0;
  padding: 0;
  list-style: none;

  & > .#{$iota-objs-list-var-list-item} { vertical-align: top }
}




// Block List Object

@if ($iota-objs-list-block == true) {
  
  .#{$iota-objs-list-var-list-mod + $iota-objs-list-block-name} {

    & > .#{$iota-objs-list-var-list-item} {
      display: block;
    }
    
    & > .#{$iota-objs-list-var-list-item}:not(:last-child) {
      @include _iota-generate-unit('margin', 'bottom', $iota-objs-list-gutter-default);
    }

  }

}




// Inline List Object

@if ($iota-objs-list-inline == true) {

  .#{$iota-objs-list-var-list-mod + $iota-objs-list-inline-name} {

    & > .#{$iota-objs-list-var-list-item} {
      display: inline-block;
    }
    
    & > .#{$iota-objs-list-var-list-item}:not(:last-child) {
      @include _iota-generate-unit('margin', 'right', $iota-objs-list-gutter-default);
    }

  }

}




// Span List Object

@if ($iota-objs-list-span == true) {

  .#{$iota-objs-list-var-list-mod + $iota-objs-list-span-name} {
    display: table;
    width: 100%;
    @include _iota-generate-unit('border', 'spacing', $iota-objs-list-gutter-default);
    table-layout: fixed;

    & > .#{$iota-objs-list-var-list-item} {
      display: table-cell;
      text-align: center;
    }

  }

}




// Aligned List Object

@if ($iota-objs-list-aligned == true) {

  .#{$iota-objs-list-var-list-mod + $iota-objs-list-align-middle-name} {
    & > .#{$iota-objs-list-var-list-item} {
      vertical-align: middle;
    }
  }

  .#{$iota-objs-list-var-list-mod + $iota-objs-list-align-bottom-name} {
    & > .#{$iota-objs-list-var-list-item} {
      vertical-align: bottom;
    }
  }

}




// List Object with extra gutters

@each $gutter-name, $gutter-size in $iota-objs-list-gutter-extra {

  .#{$iota-objs-list-var-list-mod + $gutter-name} {

    @if ($iota-objs-list-block == true) {

      &.#{$iota-objs-list-var-list-mod + $iota-objs-list-block-name} {

        & > .#{$iota-objs-list-var-list-item}:not(:last-child) {
          @include _iota-generate-unit('margin', 'bottom', $gutter-size);
        }

      }

    }

    @if ($iota-objs-list-inline == true) {

      &.#{$iota-objs-list-var-list-mod + $iota-objs-list-inline-name} {

        & > .#{$iota-objs-list-var-list-item}:not(:last-child) {
          @include _iota-generate-unit('margin', 'right', $gutter-size);
        }

      }

    }

    @if ($iota-objs-list-span == true) {

      &.#{$iota-objs-list-var-list-mod + $iota-objs-list-span-name} {
        @include _iota-generate-unit('border', 'spacing', $gutter-size);
      }

    }

  }

}
