// Color Utility




// Options

$iota-utils-color           : true;

$iota-utils-color-namespace : 'color-' !default;

$iota-utils-color-names     : () !default;




// Helper Local Variables

$iota-utils-color-var-color: $iota-global-utilities-namespace + $iota-utils-color-namespace;




// Color Utilities

@each $color-name, $color-value in $iota-utils-color-names {
  
  .#{$iota-utils-color-var-color + $color-name} {
    color: #{$color-value} !important;
  }

}
