// Pull Utility




// Options

$iota-utils-pull              : true;

$iota-utils-pull-namespace    : 'pull-' !default;
$iota-utils-pull-delimiter    : $iota-global-delimiter !default;

$iota-utils-pull-columns      : $iota-global-columns !default;

$iota-utils-pull-res          : false !default;
$iota-utils-pull-breakpoints  : $iota-global-breakpoints !default;




// Helper Local Variables

$iota-utils-pull-var-pull: $iota-global-utilities-namespace + $iota-utils-pull-namespace;




// Pull Utilities

@each $column-size in $iota-utils-pull-columns {

  @for $i from 1 through ($column-size - 1) {
    $margin-size: ((100 / $column-size) * $i) * 1%;

    .#{$iota-utils-pull-var-pull + $i + $iota-utils-pull-delimiter + $column-size} {
      @include _iota-directional-property('margin', null, null $margin-size null null, true);
    }

  }

}




// Pull Responsive Utilities

@if ($iota-utils-pull-res == true) {

  @each $breakpoint-name, $breakpoint-size in $iota-utils-pull-breakpoints {

    @media #{$breakpoint-size} {

      @each $column-size in $iota-utils-pull-columns {

        @for $i from 1 through ($column-size - 1) {
          $margin-size: ((100 / $column-size) * $i) * 1%;

          .#{$iota-utils-pull-var-pull + $i + $iota-utils-pull-delimiter + $column-size + $iota-global-breakpoint-separator + $breakpoint-name} {
            @include _iota-directional-property('margin', null, null $margin-size null null, true);
          }

        }

      }

    }

  }

}
