// Margin Utility




// Options

$iota-utils-margin                      : true;

$iota-utils-margin-namespace            : 'm' !default;
$iota-utils-margin-top-name             : 't' !default;
$iota-utils-margin-right-name           : 'r' !default;
$iota-utils-margin-bottom-name          : 'b' !default;
$iota-utils-margin-left-name            : 'l' !default;
$iota-utils-margin-vertical-name        : 'v' !default;
$iota-utils-margin-horizontal-name      : 'h' !default;

$iota-utils-margin-default              : $iota-global-gutter-default !default;
$iota-utils-margin-extra                : () !default;

$iota-utils-margin-res                  : false !default;
$iota-utils-margin-breakpoints          : $iota-global-breakpoints !default;




@include _iota-generate-spacing(
  margin,
  $iota-utils-margin-default,
  $iota-utils-margin-extra,
  $iota-utils-margin-namespace,
  $iota-utils-margin-top-name,
  $iota-utils-margin-right-name,
  $iota-utils-margin-bottom-name,
  $iota-utils-margin-left-name,
  $iota-utils-margin-vertical-name,
  $iota-utils-margin-horizontal-name,
  $iota-utils-margin-res,
  $iota-utils-margin-breakpoints
);
