// Padding Utility




// Options

$iota-utils-padding                      : true;

$iota-utils-padding-namespace            : 'p' !default;
$iota-utils-padding-top-name             : 't' !default;
$iota-utils-padding-right-name           : 'r' !default;
$iota-utils-padding-bottom-name          : 'b' !default;
$iota-utils-padding-left-name            : 'l' !default;
$iota-utils-padding-vertical-name        : 'v' !default;
$iota-utils-padding-horizontal-name      : 'h' !default;

$iota-utils-padding-default              : $iota-global-gutter-default !default;
$iota-utils-padding-extra                : () !default;

$iota-utils-padding-res                  : false !default;
$iota-utils-padding-breakpoints          : $iota-global-breakpoints !default;




@include _iota-generate-spacing(
  padding,
  $iota-utils-padding-default,
  $iota-utils-padding-extra,
  $iota-utils-padding-namespace,
  $iota-utils-padding-top-name,
  $iota-utils-padding-right-name,
  $iota-utils-padding-bottom-name,
  $iota-utils-padding-left-name,
  $iota-utils-padding-vertical-name,
  $iota-utils-padding-horizontal-name,
  $iota-utils-padding-res,
  $iota-utils-padding-breakpoints
);
