// Background Color Utility




// Options

$iota-utils-bgcolor           : true;

$iota-utils-bgcolor-namespace : 'bgcolor-' !default;

$iota-utils-bgcolor-names     : () !default;




// Helper Local Variables

$iota-utils-bgcolor-var: $iota-global-utilities-namespace + $iota-utils-bgcolor-namespace;




// Background Color Utilities

@each $bgcolor-name, $bgcolor-value in $iota-utils-bgcolor-names {
  
  .#{$iota-utils-bgcolor-var + $bgcolor-name} {
    background-color: #{$bgcolor-value} !important;
  }

}
