// Push Utility




// Options

$iota-utils-push              : true;

$iota-utils-push-namespace    : 'push-' !default;
$iota-utils-push-zero-name    : '0' !default;
$iota-utils-push-delimiter    : $iota-global-delimiter !default;

$iota-utils-push-columns      : $iota-global-columns !default;

$iota-utils-push-res          : false !default;
$iota-utils-push-breakpoints  : $iota-global-breakpoints !default;




// Helper Local Variables

$iota-utils-push-var-push: $iota-global-utilities-namespace + $iota-utils-push-namespace;




// Push Utilities

@each $column-size in $iota-utils-push-columns {

  @for $i from 1 through ($column-size - 1) {
    $margin-size: ((100 / $column-size) * $i) * 1%;

    .#{$iota-utils-push-var-push + $i + $iota-utils-push-delimiter + $column-size} {
      @include _iota-directional-property('margin', 'left', $margin-size, true);
    }

  }

}


// Push Reset Class

.#{$iota-utils-push-var-push + $iota-utils-push-zero-name} {
  @include _iota-directional-property('margin', 'left', 0, true);
}




// Push Responsive Utilities

@if ($iota-utils-push-res == true) {

  @each $breakpoint-name, $breakpoint-size in $iota-utils-push-breakpoints {

    @media #{$breakpoint-size} {

      @each $column-size in $iota-utils-push-columns {

        @for $i from 1 through ($column-size - 1) {
          $margin-size: ((100 / $column-size) * $i) * 1%;

          .#{$iota-utils-push-var-push + $i + $iota-utils-push-delimiter + $column-size + $iota-global-breakpoint-separator + $breakpoint-name} {
            @include _iota-directional-property('margin', 'left', $margin-size, true);
          }

        }

      }

    }


    // Push Reset Class

    .#{$iota-utils-push-var-push + $iota-utils-push-zero-name + $iota-global-breakpoint-separator + $breakpoint-name} {
      @include _iota-directional-property('margin', 'left', 0, true);
    }

  }

}
